<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta
      name="description"
      content="particles.js is a lightweight JavaScript library for creating particles."
    />
    <meta name="author" content="Vincent Garreau" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" media="screen" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link
      rel="stylesheet"
      href="./node_modules/element-ui/lib/theme-chalk/index.css"
    />
  </head>
  <body>
    <div id="particles-js">
      <div class="login">
        <div class="login-top">登录</div>
        <div class="login-center clearfix">
          <div class="login-center-img"><img src="img/name.png" /></div>
          <div class="login-center-input">
            <input
              type="text"
              name=""
              v-model="input1"
              placeholder="请输入您的用户名"
              onfocus="this.placeholder=''"
              onblur="this.placeholder='请输入您的用户名'"
            />
            <div class="login-center-input-text">用户名</div>
          </div>
        </div>
        <div class="login-center clearfix">
          <div class="login-center-img"><img src="img/password.png" /></div>
          <div class="login-center-input">
            <input
              type="password"
              name=""
              v-model="input2"
              placeholder="请输入您的密码"
              onfocus="this.placeholder=''"
              onblur="this.placeholder='请输入您的密码'"
            />
            <div class="login-center-input-text">密码</div>
          </div>
        </div>
        <div class="login-button" @click="login">登陆</div>
      </div>
      <div class="sk-rotating-plane"></div>
    </div>

  </body>
  <script src="./js/vue.js"></script>
  <script src="./js/particles.min.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/jquery-1.11.1.js"></script>
  <script src="./js/jquery.min.js"></script>
  <script src="./js/index.js"></script>
  <script>
    let electron = require("electron");
    const { ipcRenderer } = electron;
    new Vue({
      el: "#particles-js",
      data: {
        input1: "cqset_nm_byne", //巴彦淖尔电业局应急管理指挥中心
        // input1: "cqset_nm_eeds", //鄂尔多斯智慧输电一处管理系统
        // input1: "cqset_eedsc", //鄂尔多斯智慧输电二处管理系统
        // input1: "cqset_eeds", //鄂尔多斯智慧输电管理系统
        // input1: "cqset_nm_xlgl", //锡林郭勒电业局输电处
        // input1: "cqset_byne_bkq", //巴彦淖尔电业局布控球
        input2: "cqset1234",

        // input1: "cqset_byne_xsgl",
        // input1: "cqset_gzdw",//故障定位
        // input2: "1234",
        // input2: "",
        // input2: "byne168", //巴彦淖尔电业局布控球
        options: [],
        isName: false,
      },
      methods: {
        selectBlur(e) {
          if (e.target.value) {
            this.input1 = e.target.value;
            this.isName = true;
          } else {
            this.isName = false;
          }
        },
        login() {
          let that = this;
          $.ajax({
            type: "post",
            url: "http://www.cqset.com:3100/api/v1/pc/login",
            data: { username: that.input1, password: that.input2 },
            success: function (res) {
              if (res.code == 200) {
                let o = {
                  departID: res.data.departID,
                  accessToken: res.data.accessToken,
                  password: that.input2,
                  username: that.input1,
                };
                ipcRenderer.send("opennew", o);

                localStorage["LoginUser"] = JSON.stringify(o);
              } else {
                that.$message.error(res.msg);
              }
            },
          });
        },
      },
    });
  </script>
</html>
